:root {
    --clr-primary-200: #f3eed9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #fff;
    --clr-neutral-900: #222c2a;

    --ff-primary: 'Roboto', sans-seryf;
    --ff-accent: 'Lobster', sans-seryf;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3215rem;
    line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}
h1,
h2,
h3{
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
}

.bg-light {
    background-color: var(--clr-primary-200);
}
.bg-primary {
    background-color: var(--clr-primary-400);
}
.bg-dark {
    background-color: var(--clr-neutral-900);
}